* {
  margin: 0;
  padding: 0;
}
body {
  background: white;
  color: black;
  line-height: 1.4em;
  font-family: serif;
}
#resume { font-size: 10pt; }
#resume a {
  color: black;
  text-decoration: none;
}
#resume a:visited {
  color: black;
  text-decoration: none;
}
#resume h1 { border: 0 !important; }
#resume h2 { border: 0 !important; }
#resume h3 { border: 0 !important; }
#resume h4 { border: 0 !important; }
#resume h5 { border: 0 !important; }
#resume h6 { border: 0 !important; }
#resume h1 {
  font-size: 170% !important;
  border-top: 4px solid #aaaaaa !important;
  padding-top: 0.5em !important;
  margin-top: 1.5em !important;
}
#resume h1:first-child {
  padding-top: 0.25em !important;
  border-top: none !important;
}
#resume h2 {
  font-size: 150% !important;
  margin-top: 1.5em !important;
  border-top: 4px solid #e0e0e0 !important;
  padding-top: 0.5em !important;
}
#resume h3 { margin-top: 1em !important; }
#resume p {
  margin: 1em 0 !important;
  line-height: 1.5em !important;
}
#resume blockquote {
  border-left: 5px solid #dddddd;
  margin: 1em 0;
  padding-left: 0.6em;
}
#resume a { text-decoration: none; }
#resume a:visited { text-decoration: none; }
#resume a:hover { text-decoration: underline; }
#resume pre {
  margin: 1em 0 !important;
  font-size: 12px !important;
  background-color: #f8f8ff !important;
  border: 1px solid #dedede !important;
  padding: 0.5em !important;
  line-height: 1.5em !important;
  color: #444444 !important;
  overflow: auto !important;
}
#resume pre code {
  padding: 0 !important;
  font-size: 12px !important;
  background-color: #f8f8ff !important;
  border: none !important;
}
#resume code {
  font-size: 12px !important;
  background-color: #f8f8ff !important;
  color: #444444 !important;
  padding: 0 0.2em !important;
  border: 1px solid #dedede !important;
}
#resume img { max-width: 100%; }
#resume blockquote {
  margin: 1em 0 !important;
  border-left: 5px solid #dddddd !important;
  padding-left: 0.6em !important;
  color: #555555 !important;
}
#resume dt {
  font-weight: bold !important;
  margin-left: 1em !important;
}
#resume dd {
  margin-left: 2em !important;
  margin-bottom: 1em !important;
}
