* {
  margin: 0;
  padding: 0;
}
body {
  background: white;
  color: black;
  font-family: serif;
}
.download { display: none; }
#resume { font-size: 10pt; }
#resume a {
  color: black;
  text-decoration: none;
}
#resume a:visited {
  color: black;
  text-decoration: none;
}
#resume h1 { border: 0 !important; }
#resume h2 { border: 0 !important; }
#resume h3 { border: 0 !important; }
#resume h4 { border: 0 !important; }
#resume h5 { border: 0 !important; }
#resume h6 { border: 0 !important; }
#resume h1 { font-size: 170% !important; }
#resume h1:first-child { border-top: none !important; }
#resume h2 { font-size: 150% !important; }
#resume p {
  margin: 1em 0 !important;
  line-height: 1.5em !important;
}
#resume blockquote {
  border-left: 5px solid #dddddd;
  margin: 1em 0;
  padding-left: 0.6em;
}
#resume ul { margin: 1em 0 1em 2em !important; }
#resume ul li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#resume ul ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#resume ul ol {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#resume ol { margin: 1em 0 1em 2em !important; }
#resume ol li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#resume ol ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#resume ol ol {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#resume a { text-decoration: none; }
#resume a:visited { text-decoration: none; }
#resume a:hover { text-decoration: underline; }
#resume pre {
  margin: 1em 0 !important;
  font-size: 12px !important;
  border: 1px solid #dedede !important;
  padding: 0.5em !important;
  line-height: 1.5em !important;
  overflow: auto !important;
}
#resume pre code {
  padding: 0 !important;
  font-size: 12px !important;
  border: none !important;
}
#resume code {
  font-size: 12px !important;
  padding: 0 0.2em !important;
  border: 1px solid #dedede !important;
}
#resume img { max-width: 100%; }
#resume blockquote {
  margin: 1em 0 !important;
  border-left: 5px solid #dddddd !important;
  padding-left: 0.6em !important;
}
#resume dt {
  font-weight: bold !important;
  margin-left: 1em !important;
}
#resume dd {
  margin-left: 2em !important;
  margin-bottom: 1em !important;
}
