/**
 * Less based style sheet.
 * @author Nat Welch
 * @author Ted Morin
 * @author Zaid Qureshi
 */

$fg: #000;
$bg: #FFF;
$link: #229088;
$border: desaturate(lighten(#1C423F, 10%), 10%);
$list-columns-desktop: 5;
* {
    margin: 0;
    padding: 0;
}

body {
    color: $fg;
    line-height: 1.4em;
    background-color: $bg;
    font-family: serif;
    font-size: 0.9em;
}

/**
 * Fix float problem.
 * http://www.positioniseverything.net/easyclearing.html
 */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.download {
    display: none;
}

#resume {
    width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
   // margin-bottom: 30px;
    padding: 10px;
    h1, h2, h3, h4, h5, h6 {
        border: 0;
    }
    h1 {
        font-size: 170%;
        padding-top: 0.5em;
        margin-top: 1.5em;
        margin-bottom: 0.8em;
    }
    h1:first-child {
        margin-top: 30px;
        padding-top: 0.25em;
        border-top: none;
        font-size: 230%;
    }
    h2 {
        font-size: 150%;
        margin-top: 1em;
        border-top: 2px solid $border;
        padding-top: 0.5em;
    }
    h3 {
        margin-top: 0.8em;
    }
    p {
        margin: 0.8em 0;
        line-height: auto;
    }
    ul, ol {
      margin: 0.8em 0 0.8em 0;

      li {
        margin-top: 0.2em;
        margin-bottom: 0.2em;

        li:before {
          content: '+';
        }
        ul, ol {
          margin-left: 0.5em;
        }
      }

      ul, ol {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    blockquote {
        border-left: 5px solid $border;
        margin: 1em 0;
        padding-left: 0.6em;
    }
    a,
    a:visited {
        color: $link;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    img {
        max-width: 100%;
    }
    blockquote {
        margin: 1em 0;
        border-left: 5px solid $border;
        padding-left: 0.6em;
        color: $fg;
    }
    dt {
        font-weight: bold;
        margin-left: 1em;
    }
    dd {
        margin-left: 2em;
        margin-bottom: 1em;
    }

    /*** Custom CSS ***/

    /*Let the user make a horizontal list*/
    .horizontal-list + ul {
      text-align: center;
      li {
        list-style-type: none;
        display: inline-block;
        /*See media query for other version*/
        width: 100% / $list-columns-desktop - 1%;
      }
      li:before {
        content: '';
      }
    }

    /*Subtle list bullets*/
    ul {
        list-style-type: none;
    }
    li {
        text-indent: 1.1em;
    }
    li:before {
        content: '■';
        padding-right: 0.3em;
        color: $border;
    }

    /*Float right for contact information*/
    h1 + ul {
        font-size: 110%;
        float: right;
        text-align: right;
        position: absolute;
        right: 0.75em;
        top: 1em;
        margin: 0;
    }
    h1 + ul > li:before {
        content: '';
    }

    /*Float right italics after an h4,
     * Meant for dates.
     */
    h4 + p > em {
        margin-top: -3.4em;
        padding-top: 0;
        font-size: 110%;
        float: right;
        text-align: right;
    }

    /*Page break on certain points*/
    .page-break {
        page-break-before: always;
    }

}
